include/plugins/UnigineKinect.h
include/plugins/UnigineLeapMotion.h
include/plugins/UnigineOculus.h
include/plugins/UnigineUltraleap.h
include/plugins/UnigineVarjo.h

**/python-bin*
linux_UnigineEditorPlugin_Python3Scripting*
windows_UnigineEditorPlugin_Python3Scripting*
lib/
other/
.vscode/

**/Python-3.10.1/Makefile
**/Python-3.10.1/Makefile.pre
**/Python-3.10.1/Misc/python-config.sh
**/Python-3.10.1/Misc/python-embed.pc
**/Python-3.10.1/Misc/python.pc
**/Python-3.10.1/Modules/Setup.local
**/Python-3.10.1/Modules/config.c
**/Python-3.10.1/Modules/ld_so_aix
**/Python-3.10.1/PCbuild/.vs/
**/Python-3.10.1/PCbuild/_elementtree.vcxproj.user
**/Python-3.10.1/PCbuild/amd64/
**/Python-3.10.1/PCbuild/obj/
**/Python-3.10.1/PCbuild/python.vcxproj.user
**/Python-3.10.1/PCbuild/python3dll.vcxproj.user
**/Python-3.10.1/PCbuild/python_uwp.vcxproj.user
**/Python-3.10.1/PCbuild/pythoncore.vcxproj.user
**/Python-3.10.1/PCbuild/xxlimited.vcxproj.user
**/Python-3.10.1/Programs/_testembed
**/Python-3.10.1/build/
**/Python-3.10.1/config.log
**/Python-3.10.1/config.status
**/Python-3.10.1/externals/
**/Python-3.10.1/pybuilddir.txt
**/Python-3.10.1/pyconfig.h
**/Python-3.10.1/python
**/Python-3.10.1/python-config
**/Python-3.10.1/python-config.py
**/Python-3.10.1/python-gdb.py
**/Python-3.10.1/python.bat

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/bin
/data
/source/cmake
# !/source/plugins
/launch*
junk
.thumbnails
__pycache__
/include/plugins/Unigine/Kinect/
/include/plugins/Unigine/LeapMotion/